# === App ===
NODE_ENV=
APP_BASE_URL=
DASHBOARD_USER_URL=
DASHBOARD_ADMIN_URL=
GATEWAY_BASE_URL=

# === Ports (lokal/PM2) ===
GATEWAY_PORT=
WEB_LANDING_PORT=
WEB_DASHBOARD_PORT=
WEB_ADMIN_PORT=

# === Proxy Utama (upstream) ===
UPSTREAM_PROXY_BASE_URL=
UPSTREAM_PROXY_API_KEY=

# === Database MySQL ===
DATABASE_URL=

# === JWT / Session ===
JWT_SECRET=
JWT_REFRESH_SECRET=
SESSION_SECRET=

# === API Key Hashing ===
APIKEY_HASH_SECRET=

# === Cloudflare ===
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=

# === GitHub ===
GITHUB_USERNAME=
GITHUB_EMAIL=
GITHUB_TOKEN=

# === Seed Admin (dipakai prisma/seed.ts) ===
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_NAME=
